

.font {
  font-family: Manrope-regular;
  color: #16181C;
  font-size: 0.875rem!important;
  font-weight: 600!important;
  line-height: 16px!important;
  letter-spacing: 0.4000000059604645px!important;
}
.container {
  min-height: 48px;
  position: fixed;
  bottom: 0;
  width: 100%;
}