.select {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 16px;

  border-radius: 4px;

  max-height: 80px;
  overflow: hidden;
  background-color: #FFFFFF;
}

.select img:first-of-type {
  width: 80px;
  height: 80px;
}
.select img:last-of-type {
  margin: auto;
}

.active {
  transform: rotate(180deg);
  transition: transform 0.1s ease-in;
}

.select div {
  margin: auto 0;
  overflow: hidden;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 43;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.dd ul {
  margin:0;
  padding:0;
  list-style: none;

  overflow-y: overlay;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0px 0px 8px 0px;
}
.dd > div h6 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.05em;
  margin: 0;
}

.dd > div img {
  width: 16px;
  height: 16px;
}
.dd > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}


.dd ul li {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;

  border-radius: 4px;
  min-height: 80px;
  padding-right: 16px;
  max-height: 80px;
  overflow: hidden;
  background-color: #FFFFFF;

  margin: 0;
  padding: 0;
  list-style: none;
}

.dd ul li img:first-of-type {
  width: 80px;
  height: 80px;
}
.dd ul li img:last-of-type {
  margin: auto;
}

.dd ul li div * {
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
}
.dd ul li div h6 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #08090B;

  margin-bottom: 4px;
}
.dd ul li div p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #08090B;
}
.dd ul li div {
  margin: auto 0;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}


.no-contracts {
  font-size: 1rem;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #A7A7B0;
  padding: 0;
  margin: 0;
  width: 100%;
  align-self: center;
}





.ddMenuEnter {
  position: absolute;
  transform: translateY(+110%);
}
.ddMenuEnterActive {
  position: absolute;
  transform: translateY(0%);
  transition: all 0.5s ease;

}
.ddMenuExit {
  position: absolute;
  transform: translateY(0%);
}
.ddMenuExitActive {
  transform: translateY(+110%);
  transition: all 0.5s ease;
}


.backdropEnter {
  opacity: 0;
}
.backdropEnterActive {
  opacity: 1;
  transition: opacity 200ms;
}

.backdropExit {
  opacity: 1;
}
.backdropExitActive {
  opacity: 0;
  transition: opacity 200ms;
}

@media screen and (min-width: 560px) {
  .dd {
    position: relative;
    align-self: center;

    padding: 24px 32px 0px 32px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    max-height: 525px;
    overflow: hidden;
  }
  
}