.avatar {
  width: 56px;
  height: 56px;
  background: #ffffff;

  padding: 0;
  margin-right: 8px;
}
.avatar img {
  width: inherit;
  height: inherit;
  padding: 0;
  margin: 0;
}

.token-name * {
  text-overflow: ellipsis;
}