.grid {
    height: 100vh;
  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
            'header'
            'main'
            'footer'
  }
  
  .grid > header {
    grid-area: header;
    background-color: #FFA010;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
  }
  .grid > main {
    grid-area: main;
    height: 100%;
    overflow-x: hidden;
    overflow-y: overlay;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr minmax(0, 560px) 1fr;
  }
  
  
  
  .grid main > section {
    grid-area: 1 / 2 / 1 / 3;
    display: flex;
    gap: 24px;
    flex-direction: column;
    padding-bottom: 5vh;
  }
  
  .grid main > section.full {
    grid-area: 1 / 1 / 1 / 4
  }
  
  
  .grid > footer {
    grid-area: footer;
    background-color: #08090B;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
  }
  .grid > footer nav  {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
    gap: 32px;
  }
  
  .grid > footer nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    padding: 16px;
    gap: 6px;
  }
  .grid > footer nav a p {
    margin: 0;
    color: #E9E9EB;
    font-weight: 500;
    letter-spacing: 0.05em;
    line-height: 1.5;
  }
  .grid > footer nav a img {
    min-height: 18px;
    min-width: 18px;
  }
  
  .grid > main .desktop__navigation {
    display: none;
    margin: 0 32px;
  }
  @media only screen and (min-width: 590px) {
    .grid > main .desktop__navigation {
      display: block;
    }
    .grid > main .desktop__navigation nav {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 69px;
      gap: 16px;
    }
    .grid > main .desktop__navigation nav a {
      text-decoration: none;
      background-color: #282B2E;
      padding: 12px;
      border-radius: 4px;
      color: #E9E9EB;
  
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 4px;
    }
    .grid > main .desktop__navigation nav a * {
      line-height: 1.5;
      letter-spacing: 0.05em;
      padding: 0;
      margin: 0;
    }
    .grid > main .desktop__navigation nav a p {
      font-weight: 500;
      font-size: 0.875rem;
    }
    .grid > main .desktop__navigation nav a img {
      width: 14px;
      height: 14px;
    }
    .grid > footer {
      display: none;
    }
  
    .tokens {
      margin: 0 32px;
    }
  }