

.logs div.toggle {
  background-color: #282B2E;
  color: #F9F9FA;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
}

.logs div.stream {
  background-color: #08090B;
  text-align: left;
  padding: 16px;
  word-break: break-word;
  overflow: hidden;
  overflow-y: scroll;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 250px;

  
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.active {
  transform: rotate(180deg);
  transition: transform 0.2s ease-in;
}
.passive {
  transform: rotate(0deg);
  transition: transform 0.2s ease-in;
}

.borderAll {
  border-radius: 4px;
}

.borderTwo {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.logs {
  width: 100%;
}