html,
body {
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: Manrope-regular;
    src: url('./assets/fonts/Manrope/Manrope-Regular.ttf');
}
@font-face {
    font-family: Manrope-bold;
    src: url('./assets/fonts/Manrope/Manrope-Bold.ttf');
}
@font-face {
    font-family: Manrope-light;
    src: url('./assets/fonts/Manrope/Manrope-Light.ttf');
}
@font-face {
    font-family: Manrope-semibold;
    src: url('./assets/fonts/Manrope/Manrope-SemiBold.ttf');
}


.MuiSelect-select {
    padding-top: 14px !important;
    padding-bottom: 14px !important;
    background-color: rgba(255, 255, 255, 0.5) !important;
}
.MuiSelect-select:focus {
    background-color: rgba(255, 255, 255, 0.8);
}

.MuiAutocomplete-input {
    background-color: transparent !important;
}
.Mui-focused {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
}


.MuiListItemButton-root .MuiTouchRipple-child {
    background-color: #EDEDED!important;
}



/** Minima Specific Component Styling */
.MiniListItem-typography .MuiListItemText-primary,
.MiniListItem-typography .MuiListItemText-secondary {
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
    max-width: 40vw;
}
.MiniListItem-typography .MuiListItemText-primary {
    font-weight: 600;
}

.MiniList-balance .MuiListItemButton-root {
    margin-bottom: 8px;
}

/** SendPage Select */
.MuiMenu-list {
    max-height: 65vh;
    overflow-y: scroll;
    overflow-y: visible;
}
.MuiMenu-list .MuiListSubheader-root {
    background-color: #fff;
}



.MiniCardToken {
    padding: 8px 0px;
}

.MiniCardToken .MuiListItem-root {
    align-items: flex-start!important;
    flex-direction: column!important;
}

.MiniCardToken .MuiTypography-body1 {
    padding-left: 2px;
    font-weight: 600;
}

.MiniCardToken .MuiListItemText-root {
    width: 100%;
}

.MiniCardTokenHeader {
    overflow-y: scroll;
    overflow-x: hidden;
    border-bottom: 0.5px solid #EDEDED;
    padding: 16px 16px;
}
.MiniCardTokenHeader .MuiCardHeader-avatar {
    transform: scale(1.5);
    margin: 8px;
}

.MiniCardTokenHeader .MuiCardHeader-title {
    text-overflow: ellipsis!important;
    overflow-x: hidden!important;
    overflow:hidden;
    width: 40vw;
    font-weight: 700;
    font-size: 1rem;
    margin-left: 16px;
}
.MiniCardTokenHeader .MuiCardHeader-subheader {
    word-break: break-all;
    max-height: 60px;
    margin-left: 16px;
}

.MiniCardToken .MuiIconButton-root {
    border-radius: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #317AFF;
}

.MiniCardToken .MuiIconButton-root:hover {
    opacity: 0.7;
    background-color: #317AFF;
}

.MiniCardToken .MuiIconButton-root:disabled {
    background-color: #EDEDED;
}
.MiniCardToken .MuiIconButton-root:disabled .split-icon {
    opacity: 0.7;
    transform: rotate(-90deg);
}
.resize-wrapper {
    display: flex;
    flex-direction: column;
}
.click-to-resize {
    display: none;
    position: relative;
    right: 0;
    bottom: 0;
    color: #16181C;
    font-weight: 600!important;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2px 16px;
    border: 0.5px solid #EDEDED;
}
.MiniCardToken .resize-wrapper:hover .click-to-resize {
    display: block!important;
}

.MiniModal {
    height: auto!important;
}
.MiniModal:focus {
    border: 0;
}
.MiniBalanceActions .MuiPagination-root {
    transform: scale(0.8);
    font-size: 1.2rem;
    color: '#16181C';
}
.MiniBalanceActions .MuiPagination-root .MuiPaginationItem-root {
    font-size: 1.5rem;
}

.MiniSideMenu .MuiListItemText-primary {
    font-size: 0.9rem;
    font-family: Manrope-semibold;
    color: #363A3F;
}
.MiniSideMenu .MuiListItemButton-root {
    margin-bottom: 8px;
}

.minima-icon {
    height: 32px;
    width: 32px;
}

.minima-landscape {
    width: 120px;
}


.split-icon {
    color: #fff;
    transform: scale(1.2);
    transform: rotate(90deg);
}



.center {
    text-align: 'center';
}
.break-text {
    word-break: break-all!important;
}
.align-start {
    align-items: 'flex-start';
    flex-direction: 'column';
}
