@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Roboto+Mono:wght@400&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #0D0E10; 
  --globalnav-background: rgba(22, 22, 23, .2);
  --inset: rgba(255,255,255,0.2);
  --globalnav-backdrop-filter: saturate(180%) blur(10px);
  --globalnav-backdrop-filter-level-two: saturate(180%) blur(20px);
  --background-image: url(./assets/images/LM.jpeg);

  --status-red: #FF627E;
  --status-green: #00CBB6;
  --status-green-5: #E1FFF1;
  --core-grey: #91919D;
  --core-grey-5: #F9F9FA;
  --core-grey-10: #F4F4F5;
  --core-grey-20: #E9E9EB;
  --core-grey-60: #BDBDC4;
  --core-grey-80: #A7A7B0;
  --core-grey-100: #D9D9D9;
  --core-grey-150: #D3D3D8;
  --core-black-100: #08090B;
  --core-black-150: #363A3F;
  --core-black-contrast: #17191C;
  --core-black-contrast-2: #282B2E;
  --core-black-contrast-3: #464C4F;

  --brand-color: #3DA2FF;
}

main#navigation {
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;

  overflow-y: overlay;
}

.green-good {
  color: var(--status-green);
}
.bg-green-good {
  background-color: var(--status-green-5);
}
.red-bad {
  color: var(--status-red);
}

.bg-bad {
  background: var(--status-red);
}


.text-disabled {
  color: var(--core-black-contrast-3);
}

.text-error {
  color: var(--status-red);
}

.form-error-message {
  color: var(--status-red);
  font-weight: 600;
}

.form-success-message {
  color: var(--status-green);
  font-weight: 600;
}
.form-error-border {
  border: 1px solid var(--status-red);
  border-radius: 4px;
}


.bg-core-grey-10 {
  background-color: var(--core-grey-10);
}

body {
    margin: 0;
    color: #E9E9EB;
    height: 100%; 
    min-height: -webkit-fill-available;
    font-weight: 500;
    letter-spacing: 0.3px;
    font-family: 'Manrope', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background-color);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
  }


select {
  -webkit-appearance: none;
  appearance: none;
}

.active {
  background-color: var(--background-color);
  border-radius: 4px;
  color: #FFFFFF;
  fill: #FFA010;
  padding: 8px; 
}

.temporary-pulse {
  -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
}

.arrow-active {
  transform: rotate(180deg);
  transition: transform 0.2s ease-in;
}
.arrow-passive {
  transform: rotate(0deg);
  transition: transform 0.2s ease-in;
}

.accordion-content {
  overflow: hidden;
  max-height: 1000px;
  transition: max-height 1s ease-in-out;
}

.accordion-content[aria-expanded="true"] {
  max-height: 0px;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}